@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url('../public/fonts/SfProBold.OTF');
  font-family: "SF Pro Bold";
}

@font-face {
  src: url('../public/fonts/SfProMedium.OTF');
  font-family: "SF Pro Medium";
}

@font-face {
  src: url('../public/fonts/SfProRegular.OTF');
  font-family: "SF Pro Regular";
}

@font-face {
  src: url('../public/fonts/CircularSTD.ttf');
  font-family: "Circular STD";
}

/* Business Plan */
.small_screen_plan__list__items.active {
  @apply sm:text-white sm:bg-violet-soft opacity-100
  max-sm:font-SfBd max-sm:text-violet-soft max-sm:bg-white max-sm:border-b-2 border-solid max-sm:border-b-violet-soft
}

.small_screen_plan_list {
  @apply  max-sm:gap-0 max-sm:w-[440px] 
}
.small_screen_plan__list__items {
  @apply max-sm:w-[146px] max-sm:text-center 
}

.slider::before {
  @apply absolute h-[7px] w-[7px] rounded-full left-[2px] top-1/2 bg-purple-light-400 translate-y-[-50%] duration-[600ms] content-[""]
}



input:checked{
  @apply bg-violet-soft
}

input:checked, .switch {
  @apply border-violet-soft
}

input:checked + .slider {
  @apply bg-violet-soft
}

input:checked + .slider::before {
  @apply translate-x-[7px] translate-y-[-50%] duration-[600ms] bg-white
}

.service_active {
  @apply border-2 border-violet-soft
}


.medium-width {
  @apply max-lg:gap-5 max-lg:flex-wrap
}

.line-on {
  fill: #9D71FD;
  z-index: 2;
}

