@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('../public/fonts/SfProBold.OTF');
  font-family: "SF Pro Bold";
}

@font-face {
  src: url('../public/fonts/SfProMedium.OTF');
  font-family: "SF Pro Medium";
}

@font-face {
  src: url('../public/fonts/SfProRegular.OTF');
  font-family: "SF Pro Regular";
}

@font-face {
  src: url('../public/fonts/CircularSTD.ttf');
  font-family: "Circular STD";
}

